{% load static %}
<style>
          .padded-button {
            padding-right: 20px; /* Adjust the value as per your requirement */
            padding-left: 10px;  /* Add left padding if needed */
            background-color: #4CAF50; /* Green background color */
            color: white; /* White text color */
            border: none; /* No border */
            border-radius: 5px; /* Rounded corners */
            font-size: 16px; /* Font size */
            cursor: pointer; /* Cursor on hover */
        }
</style>
<section id="nav-bar">
    <nav class="navbar navbar-light padded-button" style="background-color: #cc0808">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logonobg2.png' %}">
    </a>

    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="float:right;margin:20px;">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}" style="color: white;">Home</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

</section>