{% block content %}
    {% load i18n %}
    {% load static %}
    {% load custom_filters %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset Form</title>

        {% include "bootstrap.html" %}

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'password_reset_form.css' %}">

    </head>
    <body>
    {% include "navbar.html" %}
    <div class="site-wrap">
        <h3><b>Password Reset</b></h3>

        <h3>Forgot your password? Enter your email address below:</h3>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            <input type="text" id="id_email" name="email" required>
            <p><input class="btn btn-primary bg-danger" type="submit" value="Reset my password"></p>
            <a href="{% url 'login' %}" class="btn btn-primary bg-danger">Login</a>
        </form>
    </div>
    </body>
    </html>
{% endblock %}
