{% block content %}
    {% load i18n %}
    {% load static %}
    {% load custom_filters %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset Confirm</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'password_reset_done.css' %}">

        {% include "bootstrap.html" %}

    </head>
    <body>
    {% include "navbar.html" %}
    <div class="site-wrap">
        <h2>{% trans 'The password reset email has been sent. Kindly check your email!' %}</h2>
        <br>
        <a href="http://gmail.com" class="text-center">Gmail</a>
        <br>
        <a href="http://mail.yahoo.com" class="text-center">Yahoo</a>
        <br>
        <h2><a href="/login/">Log In</a></h2>
    </div>
    </body>
    </html>
{% endblock %}
