body {
    background-image: url('/static/background1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.site-wrap {
    text-align: center;
    margin: auto;
    max-width: 600px; /* Adjust the maximum width as needed */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Adjust the margin-top as needed */
}

#header {
    font-size: 24px; /* Adjust the font size as needed */
    color: #cc0808; /* Bootstrap Danger Color */
    margin-bottom: 20px; /* Adjust the margin-bottom as needed */
}

form {
    margin-top: 20px; /* Adjust the margin-top as needed */
}

input[type="submit"] {
    background-color: #cc0808; /* Bootstrap Danger Color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #990000; /* Darker red color on hover */
}