
/*-----------  Header ---------------*/
*{
    margin:0;
    padding:0;
}

nav-links{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}


nav-bar{
    position: sticky;
    top: 0;
    background-image: linear-gradient(red);
    z-index: 10;

}